$primary-text-color: #212121;
$secondary-text-color: #757575;
$acent-color: #2196F3;
$background-color-body: #E5E5E5;
$fotter-background-color: #2F303A;
$footer-adress-color: rgba(255, 255, 255, 0.6);
$primary-white-color: #FFFFFF;
$border-header-color: #ECECEC;
$border-color: #EEEEEE;
$card-background-color: #F5F4FA;
$clients-border-color: #AFB1B8;
$color-icons-footer: rgba(255, 255, 255, 0.1);
$modal-bg-color: rgba(0, 0, 0, 0.2);
$animation-time: cubic-bezier(0.4, 0, 0.2, 1);
$overlay-bg-color: rgba(47, 48, 58, 0.8);
$gradient-hero-color: #2F303A66;
$placeholder-color: rgba(117, 117, 117, 0.5);
$form-color: #21212133;